{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Cette page devra afficher un dashboard personnalisé une fois l'utilisateur connecté.
On doit pouvoir suivre les stocks (quantité totale par items, quantité items hors site, quantité items disponibles), les alertes 'delta neg' avec le 
détail des retours incomplets sur un simple clic.

Les responsables doivent en plus voir apparaitre dans le header un lien pour un formulaire de création de Crew-->
<style>
    main {
        background-image: linear-gradient(
        rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
        url('{% static "images/towels.jpg" %}'
        );
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

{% endblock %}
