{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="user-is-manager" content="{{ request.user|is_manager|yesno:'true,false' }}">
    <title>{% block title %}Accueil - SupplyManager{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        footer {
            margin-top: auto;
            padding: 1rem 0;
            text-align: center;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light sticky-top shadows-sm py-2"
        style="background-color: rgb(206, 243, 197); box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"> 
        <div class="container-fluid px-4">
            <a class="navbar-brand d-none d-lg-block" href="{% url 'dashboard' %}">
                <h1 class="display-6 fw-bolder text-black mb-0"
                style="text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);">
                SupplyManager
                <span class="text-success fs-4 mb-0" style="text-shadow: none;">{{ user.username }}</span>
                </h1>
            </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <div class="navbar-nav fs-4 gap-3 text-end text-lg-start">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="bi bi-speedometer2"></i> Dashboard
                        </a>
                        <a class="nav-link" href="{% url 'supplies_management' %}">Matériels</a>
                        <a class="nav-link" href="{% url 'staff_management' %}">Équipes</a>
                        <a class="nav-link" {% if request.resolver_match.url_name == 'suppliers-management' %}active fw-bold{%endif %} href="{% url 'suppliers_management' %}">Fournisseurs</a>
                        <a class="nav-link" href="{% url 'help' %}">
                            <i class="bi bi-question-circle"></i> Aide
                        </a>
                        <button type="button" class="nav-link bg-transparent border-0" 
                                data-bs-toggle="modal" 
                                data-bs-target="#logoutModal" 
                                style="cursor: pointer;">X</button>


                    </div>
        </div>
    </nav>      
    {% endif %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2026 SupplyManager - Developed by SCIPION Clément</p>
    </footer>
    
    {% if user.is_authenticated %}
        {% include 'partials/modal_deconnection.html' %}
    {% endif %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>