{% load static %}

<!-- Formulaire de modification d'item -->
<div class="container mt-4">
    <h2 class="mb-4">Modifier l'item</h2>
    <div class="card shadow-sm">
        <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    {{ form.as_p }}
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Modifier l'item</button>
                </div>
            </form>
        </div>
    </div>
</div>